astropy==5.3.3
attr==0.3.2
av==10.0.0
Box2D
brotli==1.1.0
brotlicffi==1.1.0.0
ConfigParser==6.0.0
contextlib2==21.6.0
cryptography==41.0.4
defusedxml==0.7.1
Cython==3.0.*
Dialogs==1.0
dl==0.1.0
docutils==0.20.1
glfw_preview==0.0.3
HTMLParser==0.0.2
hypothesis==6.87.0
imagecodecs==2023.9.18
imageio_ffmpeg==0.4.9
pyvirtualdisplay
ipython==8.16.0
ipywidgets==8.1.1
itk==5.3.0
jax==0.4.16
jnius==1.1.0
keyring==24.2.0
lockfile==0.12.2
lxml==4.9.3
lz4==4.3.2
matplotlib==3.8.0
mock==5.1.0
moviepy==1.0.3
mtrand==0.1
mujoco_py==2.1.2.14
multi_agent_ale_py==0.1.11
mypy==1.5.1
numarray==1.5.1
Numeric==24.2
olefile==0.46
osgeo==0.0.1
pickle5==0.0.12
protobuf==4.24.3
psutil==5.9.5
pygame==2.5.2
PyInstaller==6.0.0
pymunk==6.5.1
pynput==1.7.6
pyOpenSSL==23.2.0
PyQt6==6.5.2
PySide6==6.5.2
pytest==7.4.2
pytz==2023.3.post1
PyYAML==6.0.1
railroad==0.5.0
rlcard==1.2.0
scipy==1.11.3
shimmy==1.2.1
SimpleITK==2.3.0
simplejson==3.19.1
Sphinx==7.2.6
threadpoolctl==3.2.0
torch==2.0.1
tornado==6.3.3
trove_classifiers==2023.9.19
truststore==0.8.0
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
zstandard==0.21.0
zstd==1.5.5.1
gym[box2d]==0.17.*
pyvirtualdisplay==0.2.*
PyOpenGL==3.1.*
PyOpenGL-accelerate==3.1.*